.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
    text-align: center;
}

section {
    margin-top: 20px;
}

p {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
