
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systeme</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
        
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'index' %}">  <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/home.png' %}" alt=""></a></li>

               <li><a href="{% url 'tableauborddeschef' %}"> Tableau de Bord</a></li>
                <li><a href="{% url 'index' %}"> <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/deconnexion.png' %}" alt=""></a></li> <br><br>
                
               
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
                <div class="search-bar">
                   
                </div>
                
        </header>
        <div class="content">
                
            <div class="table-responsive">
    
    <h1>{{ form.instance.pk|yesno:"Modifier materiel,Ajouter un materiel" }}</h1>
    <div class="input">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sauvegarder</button>
    </form>
    </div>
    <a href="{% url 'liste_materiel' %}">Retour à la liste</a>
</div>
        </div>
    </div>
</body>
</html>

{% endblock %}


