{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styl.css' %}"> <!-- Le fichier CSS que vous avez défini -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Barre latérale -->
    <div class="sidebar">
        <h2>B@IT Health</h2> 
        <nav style="text-decoration: none;">
            <a href="#" class="active"><i class="icon"></i> Mon tableau de bord</a>
            <a href="{% url 'listedesprojet' %}">Projets</a>
            <a href="{% url 'liste_site' %}">Sites d'implémentation</a>
            <a href="{% url 'listeperdi' %}">Perdiems</a>       
            <a href="{% url 'liste_materiel' %}">Materiels</a>
            <a href="{% url 'listerapport' %}">Rapports</a>
            <a href="{% url 'liste_personnel' %}">Techniciens</a>
        
            <!-- Lien visible uniquement pour les chefs ou responsables -->
            {% if is_chef or is_responsable %}
                <a href="{% url 'register' %}"><i>Création des comptes utilisateur</i></a>
            {% endif %}
            <a href="{% url 'index' %}">Information</a>
            
            <a href="{% url 'login_view' %}">Déconnexion</a>
        </nav>
        
        
        
        <div class="sidebar-footer">
            <a href="#" class="upgrade-btn">Parametre</a>
        </div>
    </div>

    <!-- Contenu principal -->
    <div class="table-container">
        <div class="breadcrumb">
            <a href="#">Pages</a> / <a href="#">Tables</a> / Tableau de projets
        </div>
    
        <center><h2>Tableau de Projets</h2></center>
    
        <div style="display: flex; justify-content: space-between;border-radius: 10%;">
            <!-- Projets en cours -->
            <div style="width:50%;margin-left: 20%;">
                <details >
                    <summary>
                <h3 >Projets en cours avec sites d'implémentation, personnel et perdiems</h3></summary>
                {% for detail in projets_details_en_cours %}
                
                    <h4>Projet: {{ detail.projet.nom_projet }}</h4>
                    <p>Responsable: {{ detail.projet.responsable_projet }}</p>
                    <p>Financé par: {{ detail.projet.finance_par }}</p>
                    <p>Date du debit: {{detail.projet.date_debut}}</p>
                    <p>Date du fin: {{detail.projet.date_fin}}</p>
                    <p>Description: {{ detail.projet.description_projet }}</p>
                    <p>Nombre total de personnels: {{ detail.total_personnels }}</p>
                    <h5>Total des perdiems utilisés : {{ detail.total_perdiems }} FCFA</h5>
    
                    <h5>Sites d'implémentation :</h5>
                    <ul>
                        {% for site in detail.sites %}
                            <li>{{ site.nom_site }} - {{ site.lieu }} (Chef d'équipe: {{ site.chef_d_equipe }})</li>
                        {% endfor %}
                    </ul>
                    <hr>
               
                {% endfor %} </details>
            </div>
    
            <!-- Projets terminés -->
            <div style="width: 48%;">
                <details >
                    <summary>
                <h3>Projets terminés avec perdiems utilisés</h3></summary>
                {% for detail in projets_details_termines %}
                    <h4>Projet: {{ detail.projet.nom_projet }}</h4>
                    <p>Responsable: {{ detail.projet.responsable_projet }}</p>
                    <p>Financé par: {{ detail.projet.finance_par }}</p>
                    <p>Description: {{ detail.projet.description_projet }}</p>
                    <h5>Total des perdiems utilisés : {{ detail.total_perdiems }} FCFA</h5>
    
                    <h5>Sites d'implémentation :</h5>
                    <ul>
                        {% for site in detail.sites %}
                            <li>{{ site.nom_site }} - {{ site.lieu }} (Chef d'équipe: {{ site.chef_d_equipe }})</li>
                        {% endfor %}
                    </ul>
                    <hr>
                {% endfor %}
                </details>
            </div>
        </div>
        
    </div>

</body>
</html>


{% endblock %}
