{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>syteme</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="sidebar">
        {% comment %} <div class="logo">
            <h1>claimauditor</h1>
            <p>Manage Payment Integrity</p>
        </div> {% endcomment %}
        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'index' %}">  <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/home.png' %}" alt=""></a></li>
            
                <li><a href="{% url 'index' %}"> <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/deconnexion.png' %}" alt=""></a></li> <br><br>
                

                <li><a href="{% url 'listeperdieme' %}"> Retour</a></li>
                
               
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
         
        </header>
        <div class="content">
        
            
        <div class="table-responsive">
            <h1>Valider le Per Diem pour {{ perdieme }}</h1>
            <form method="post">
                {% csrf_token %}
               {{ form.as_p }}
                <button type="submit">Valider</button>
            </form>

        </div>
    </div>
</body>
</html>





